.logout-button{
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  background: #0d5362;
  border-radius: 100px !important;
  border: none;
  color: #fff !important;
  display: flex;
  align-items: center;
}

.logout-button svg{
  margin-right: .5rem;
  color: #fff !important;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form-box {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 2rem;
  }
  
  .login-title {
    color: rgb(100, 116, 139);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .login-subtitle {
    color: rgb(100, 116, 139);
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .login-error {
    background-color: #fef2f2;
    border-left: 4px solid #ef4444;
    padding: .5rem;
    margin-bottom: 10px;
    color: #b91c1c;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .login-input {
    width: 100%;
    height: 3.5rem;
    border: 2px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 0 1rem;
    color: rgb(100, 116, 139);
    transition: border-color 0.2s ease;
  }
  
  .login-input:focus {
    outline: none;
    border-color: #286d7c;
  }
  
  .login-button {
    width: 100%;
    height: 3.5rem;
    background-color: #286d7c;
    color: white;
    font-weight: 500;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-button:hover {
    opacity: 0.9;
  }
  
  .login-divider {
    margin-top: 2rem;
    position: relative;
  }
  
  .login-divider-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #e2e8f0;
  }
  
  .login-divider-text {
    position: relative;
    background-color: white;
    padding: 0 1rem;
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: rgb(100, 116, 139);
  }
  
  .login-google-button {
    width: 100%;
    height: 3.5rem;
    margin-top: 1.5rem;
    border: 2px solid #e2e8f0;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(100, 116, 139);
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .login-google-button:hover {
    background-color: #f8fafc;
  }
  
  .login-google-icon {
    margin-right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
  }
  
  .login-footer {
    margin: 5px;
    color: rgb(100, 116, 139);
    text-align: center;
  }
  
  .login-signup-link {
    color: #286d7c;
    font-weight: 600;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }
  
  .login-signup-link:hover {
    text-decoration: underline;
  }