.sidebarT {
  top: 0%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 22;
  right: 135px;
  transform: translateY(-270px);
  transition: transform 0.2s ease-in-out;
  transition: 0.2s;
}

.sidebarT:hover {
  scale: 1.1;
}

.sidebarT.active {
  transform: translateY(0);
}
.left-sidebar-container {
  position: fixed;
  left: 0;
  top: 20px;
  z-index: 9999999;
  direction: ltr;
}
.transBtn {
  z-index: 100;
  width: 30px;
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 2%;
  color: darkslategrey;
}
.roomSizeBtn {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: black;
  background-color: rgba(190, 190, 187, 0.616);
  /* box-sizing: border-box; */
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}
.toggleBtn {
  cursor: pointer;
  position: fixed;
  top: 40%;
  right: 0;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 2;
}

.toggleBtn.active {
  transform: translateX(-22vw);
}

.sidebarB {
  box-shadow: inset 0px 0px 2px 1px rgba(155, 152, 152, 0.6);
  margin: 5px;
  padding: 9px;
  color: white;
  border-radius: 20px;
  width: 50vw;
  bottom: 0%;
  right: 25%;
  background-color: rgba(255, 255, 255, 0.616);
  position: absolute;
  z-index: 2;
  transform: translateY(250px);
  transition: transform 0.2s ease-in-out;
}

.sidebarB.active {
  transform: translateY(0);
}

.sidebarR {
  width: 22vw;
  overflow-y: auto;
  position: fixed;
  right: 0px;
  direction: ltr;
  height: 100vh;
  z-index: 9999999;
  transform: translateX(30vw);
  transition: transform 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8);
}

.sidebarR.active {
  transform: translateX(0);
}

.keybind {
  width: 50px;
  display: inline-flex;
  justify-content: center;
  padding: 0.3em 0em;
  margin: 0;
  border: 0.01em solid rgb(253, 254, 255);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  /* box-sizing: border-box; */
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(12, 12, 12, 0.253);
  text-align: center;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.432);
  font-size: 25px;
}

.keybind:hover {
  border: 0.02em solid rgb(88, 88, 88);
}

.hidden-chatbot {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .sidebarR {
    width: 150px;
    top: 1%;
    overflow-y: auto;
    position: fixed;
    right: 0px;
    direction: ltr;
    z-index: 2;
    transform: translateX(150px);
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
  }

  .toggleBtn.active {
    transform: translateX(-150px);
  }

  .sidebarB {
    box-shadow: inset 0px 0px 12px 6px rgba(155, 152, 152, 0.6);
    margin: 2px;
    padding: 4px;
    color: white;
    border-radius: 8px;
    width: calc(100vw - 210px);
    height: 150px;
    bottom: 0%;
    right: 180px;
    background-color: rgba(255, 255, 250, 0.616);
    position: absolute;
    z-index: 2;
    transform: translateY(150px);
    transition: transform 0.2s ease-in-out;
  }
  .keybind {
    width: 40px;
  }
  .chatbot .rcb-toggle-button {
    box-shadow: none !important;
  }
  
  .chatbot .rcb-toggle-icon,
  .chatbot .rcb-toggle-button {
    width: 50px !important;
    height: 50px !important;
  }
}

@media screen and (max-width: 500px) {
  .sidebarR {
    width: 130px;
    top: 1%;
    overflow-y: auto;
    position: fixed;
    right: 0px;
    direction: ltr;
    z-index: 2;
    transform: translateX(130px);
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
  }
  .toggleBtn.active {
    transform: translateX(-130px);
  }
  .sidebarB {
    width: calc(100vw - 20px);
    height: 150px;
    right: 10px;
  }
  .keybind {
    width: 30px;
    display: inline-flex;
    justify-content: center;
    padding: 0.3em 0em;
    margin: 0 0.3em 0 0.3em;
    border: 0em solid rgba(255, 255, 255, 0);
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0em 0em rgba(255, 255, 255, 0);
    text-align: center;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
  }
}
